body {
    font-size: $base-font-size;
    font-family: $secondary-font;
    color: $white;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $black;
    font-family: $primary-font;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $black;
    font-family: $primary-font;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $black;
    font-family: $primary-font;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $black;
    font-family: $primary-font;
}

a {
    text-decoration: none;
    color: $black;
}

.bauhaus {
    font-family: $primary-font;
}

.marker {
    font-family: $tertiary-font;
    @include text-shadow(1, $black);
}

.capitalize {
    text-transform: capitalize;
}

.center-text {
    text-align: center;
}

// Home Section
#home {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em;

    .home__logo {
        width: 50em;
        pointer-events: none;
    }

    h1 {
        font-size: 5em;
        margin: 0;
        padding-left: 0.2em;
        text-shadow: 3px 8px 8px $black;
    }
}

// Call to action one
.ctaOne__question {
    font-size: 4em;
    background: $purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.ctaOne__answer {
    color: #000;
    font-family: $secondary-font;
    font-size: 1.7em;
    width: 30em;
    max-width: 100%;
    text-align: center;
    margin: 0px auto;
    padding: 2em;
}

// call to action two
#ctaTwo {
    background-color: $light-grey;
    // padding: 2em;
}

.ctaTwo__question {
    background-color: $red;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.ctaTwo__answers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 30em));
    padding: 2em;
    grid-gap: 2em;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width: 1600px) {
        grid-template-columns: repeat(auto-fill, minmax(15em, 25em));
    }

    @media (max-width: 1400px) {
        grid-template-columns: repeat(auto-fill, minmax(10em, 20em));
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.ctaTwo__answers__box {
    // border: 1px solid $black;
    // padding: 1em;
    color: $black;
    // background-color: $white;
    background: $white;
    padding: 1em;
    box-shadow: 0px 2px 6px 0px rgba(103, 128, 159, 1);
}

// Get informed / contact section
#contact {
    padding: 4em 2em;
    background-color: $blue-green;
    display: flex;
    justify-content: center;
    position: relative;

    #contact-wrapper {
        margin: 0 7em;
    }

    #error_notice {
        color: $red;
        display: none;
    }

    #error_notice.show {
        display: block;
    }

    #contact-overlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
        background-color: rgba(0, 181, 204, 0.9);
        color: $black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        text-align: center;

        &.show {
            display: flex;
        }

        #contact-overlay__title {
            margin: 0;
            margin-bottom: 0.5em;
        }

        #contact-overlay__loader {
            width: 1.5em;
        }
    }
}

#upcoming_events_container {
    background-color: $light-grey;
}

#upcoming_events {
    font-family: $secondary-font;
    color: $black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 30em));
    padding: 2em;
    grid-gap: 2em;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1600px) {
        grid-template-columns: repeat(auto-fill, minmax(15em, 25em));
    }

    @media (max-width: 1400px) {
        grid-template-columns: repeat(auto-fill, minmax(10em, 20em));
    }

    @media (max-width: 1100px) {
        grid-template-columns: repeat(auto-fill, minmax(15em, 25em));
    }
}

.events_disclaimer {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.upcoming_events__event {
    background: $white;
    padding: 1em;
    box-shadow: 0px 2px 6px 0px rgba(103, 128, 159, 1);
    width: 25em;
    margin: 1em;
    // flex-grow: 1;
    position: relative;
    color: $white;
    z-index: 9;

    h3,
    div {
        @include text-shadow(3, $white);
    }

    &:last-of-type {
        @media (max-width: 1100px) {
            grid-column: span 2;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: -1;
    }

    @media (max-width: 991px) {
        grid-column: span 2;
    }
}

#upcoming_events__title {
    background: $light-sea-green;
    font-size: 4em;
    padding: 1em 0;

    h1 {
        margin: 0;
    }
}

.event_link {
    text-decoration: underline;
    color: $blue-green;
}

.event_rsvp {
    display: flex;
    align-items: center;
}

.event_rsvp__icon {
    margin-left: 1em;
}

.contact__title {
    font-size: 5em;
    margin: 0
}

.contact__subtitle {
    font-family: $secondary-font;
    font-size: 2em;
    margin: 0;
    margin-bottom: 1em;
    @include text-shadow(1, $black);
}

.form-input {
    display: block;
    padding: 0.5em 1em;
    width: 40em;
    max-width: 100%;
    font-size: 1.2em;
    font-family: $primary-font;
    border: 3px solid transparent;
    border-radius: 2em;
    margin: 1em 0;

    &:focus {
        background: rgba(#fff, .7);
        border: 3px solid #fff;
    }
}

.form-submit {
    font-family: $primary-font;
    padding: 0.2em 3em;
    border: 3px solid #fff;
    background: $dark-blue;
    border-radius: 2em;
    color: #fff;
    font-size: 1.7em;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background: lighten($dark-blue, 10%);
    }
}

// Footer
.footer__logo {
    display: flex;
    margin: 2em auto;
}

.footer__copyright {
    text-align: center;
    background: $light-grey;
    color: $black;
    padding: 1em 0;
}