@font-face {
    font-family: 'Bauhaus93';
    src: url('/static/dist/fonts/Bauhaus93/Bauhaus93.eot');
    src: url('/static/dist/fonts/Bauhaus93/Bauhaus93.eot?#iefix') format('embedded-opentype'),
        url('/static/dist/fonts/Bauhaus93/Bauhaus93.woff') format('woff'),
        url('/static/dist/fonts/Bauhaus93/Bauhaus93.ttf') format('truetype'),
        url('/static/dist/fonts/Bauhaus93/Bauhaus93.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    src: url('/static/dist/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}