$base-font-size: 16px;

// Fonts
$primary-font: 'Bauhaus93',
sans-serif;
$secondary-font: 'OpenSans',
sans-serif;
$tertiary-font: 'Baloo Bhai',
cursive;


// Colors
$purple: #674172;
$red: #D64541;
$dark-blue: #013243;
$blue-green: #00B5CC;
$light-grey: #ECECEC;
$black: #000;
$white: #fff;
$light-sea-green: rgba(27, 163, 156, 1);

@mixin text-shadow($spread, $color) {
    text-shadow: 1px 1px 1px $color;
}