<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154956815-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154956815-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.css') }}">
    <title>Frum Philly: Go beyond your "daled amos".</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='dist/images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='dist/images/favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Caveat|Sulphur+Point&display=swap" rel="stylesheet">
</head>
<body id="{{ url_for(request.endpoint) | reverse | replace("/", "", 1) | reverse }}">

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <script src='{{ url_for('static', filename='dist/js/app.js') }}'></script>
</body>
</html>